# Entorno de Desarrollo
NODE_ENV=development
API_URL=http://localhost:3000/api
FRONTEND_URL=http://localhost:8080
JWT_SECRET=tu_secret_desarrollo_seguro

# Entorno de Producción
# NODE_ENV=production
# API_URL=https://api.comunasimonrodriguez.gob.ve/api
# FRONTEND_URL=https://comunasimonrodriguez.gob.ve
# JWT_SECRET=tu_secret_produccion_super_seguro
